<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
   footer{background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
 
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;}
  </style>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="\css\project.css" rel="stylesheet" type="text/css">
  <title></title>
  <link rel="icon" type="image/x-icon" href="\images\logo.png">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " style="background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="\images\logo.png" alt="hds favicaon" width="30px;" style="color: honeydew !important;" >Vishal Mega Mart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html" th:href="@{index}" style="color: honeydew;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="shop.html" th:href="@{shop}" style="color: honeydew;">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="color: honeydew;">
              About us
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="my-info.html" th:href="@{my-info}" >Info</a></li>
              <li><a class="dropdown-item" href="brand.html" th:href="@{brand}" >Brand Partners</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="contact.html" th:href="@{contact}" style="color: honeydew;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="myCart.html" th:href="@{myCart}" style="color: honeydew;">Cart</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-but">
            <a class="btn btn-outline-dark" href="adminLogin.html" th:href="@{admin}" style="color: honeydew;" >Admin</a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-dark" href="signup.html" th:href="@{signup}"  style="margin-left: 4px; color: honeydew;">SignUp</a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-dark" href="login.html" th:href="@{login}" style="margin-left: 4px; color: honeydew;">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="container-fluid" >
    <div class="info col py-5" id="ourteam">
      <h1>We Love What We do</h1>
      <p>
      <h3>Our talented team crafts the best codes</h3>
      </p>
      <p>
      <h3>and design amazing user experience</h3>
      </p>
      <p>
      <h3>for our clients</h3>
      </p>
      </div>
    <div class="row" id="images">
        <h1><strong>Our Team</strong></h1>
        <div class="col pt-2">
          <img
            src="https://thumbs.dreamstime.com/b/mixed-business-team-working-sitting-table-office-above-view-teamwork-concept-together-one-modern-175854229.jpg"
            width="100%" alt="" >
            <h3 style="text-align: center;">Data Analysts</h3>
        </div>
        <div class="col pt-2">
          <img src="https://images.businessnewsdaily.com/app/uploads/2022/04/04074130/teamwork_g-stockstudio_getty.jpg"
            width="100%" alt="">
            <h3 style="text-align: center;">Technical Team</h3>
        </div>
        <div class="col pt-2">
          <img src="https://www.betterup.com/hubfs/Young-team-working-together-in-a-meeting-room.jpg" width="100%"
            alt="">
            <h3 style="text-align: center;">Tech Support</h3>
        </div>
      </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <footer class="p">
      © Copyright 2023 - All rights reserved. Developed by My Team.
          </footer>
    </body>
    
    </html>